{% extends "base.html" %} 
{% load static %} 
{% block content %}
<center>
    <br><br><br>
<div class="jumbotron">
    <h1 class="display-4">BIENVENIDO A SENA EMPRESA!</h1>
    <p class="lead">
    Centro de Formación AgroIndustrial la Angostura
    Servicio Nacional de Aprendizaje
    </p>
    <hr class="my-4" />
    <p>
    Este Software será utilizado para la Facilitación de Generación de 
    Certificados para los Aprendices que Cursaron Satisfactoriamente Sena Empresa.
</p>
</br>
<img src="{% static 'images/casona.jpg' %}" alt="Descripción de la imagen"  width="90%" />
</div>
</br>
{% endblock %}
