{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Registrarse</h1>

            {{ error }}

            <form action="/signup/" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
                        <input type="text" class="form-control" placeholder="Ingresa tu nombre de usuario" name="{{ form.username.name }}">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}">Contraseña</label>
                        <input type="password" class="form-control" placeholder="Ingresa tu contraseña" name="{{ form.password1.name }}">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="{{ form.password2.id_for_label }}">Confirmar contraseña</label>
                        <input type="password" class="form-control" placeholder="Confirma tu contraseña" name="{{ form.password2.name }}">
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}